.footer{

    max-width:1400px;
    margin:100px auto 40px;

    background:#111;

    border:1px solid #232323;

    border-radius:18px;

    padding:45px;

    color:#fff;

}

.footer-top{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding-bottom:30px;

    border-bottom:1px solid #222;

}

.footer-logo h2{

    font-size:32px;

}

.footer-top p{

    color:#9a9a9a;

}

.footer-middle{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:40px;

    padding:40px 0;

    border-bottom:1px solid #222;

}

.footer-column{

    display:flex;

    flex-direction:column;

    gap:12px;

}

.footer-column h4{

    margin-bottom:12px;

}

.footer-column a,
.footer-column p{

    color:#9a9a9a;

    text-decoration:none;

    transition:.3s;

}

.footer-column a:hover{

    color:#fff;

}

.footer-social{

    display:flex;

    gap:12px;

    justify-content:flex-end;

    align-items:flex-start;

}

.footer-social a{

    width:42px;
    height:42px;

    border-radius:50%;

    background:#1b1b1b;

    display:flex;

    justify-content:center;

    align-items:center;

    color:#fff;

    transition:.3s;

}

.footer-social a:hover{

    background:#fff;

    color:#000;

}

.footer-bottom{

    padding-top:25px;

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.footer-bottom p,
.footer-bottom a{

    color:#8a8a8a;

    text-decoration:none;

}

.footer-bottom div{

    display:flex;

    gap:20px;

}

@media(max-width:900px){

.footer-top,
.footer-bottom{

flex-direction:column;

gap:20px;

text-align:center;

}

.footer-middle{

grid-template-columns:1fr 1fr;

}

}

@media(max-width:600px){

.footer-middle{

grid-template-columns:1fr;

}

.footer{

padding:30px;

}

}