/* ========================================= */
/* NEXORA DESIGN SYSTEM                      */
/* Global Variables                          */
/* ========================================= */


/* ========================================= */
/* ROOT VARIABLES                            */
/* ========================================= */

:root {


    /* ========================= */
    /* Brand Colors */
    /* ========================= */


    --primary-bg: #050505;

    --secondary-bg: #0b0b0b;

    --card-bg: rgba(255,255,255,0.06);


    --text-primary: #ffffff;

    --text-secondary: #a1a1a1;


    --accent-color: #8b5cf6;

    --accent-light: #a78bfa;



    /* ========================= */
    /* Borders */
    /* ========================= */


    --border-color: rgba(255,255,255,0.12);



    /* ========================= */
    /* Typography */
    /* ========================= */


    --font-primary: "Inter", sans-serif;



    /* ========================= */
    /* Font Sizes */
    /* ========================= */


    --fs-xs: 12px;

    --fs-sm: 14px;

    --fs-md: 16px;

    --fs-lg: 20px;

    --fs-xl: 32px;

    --fs-2xl: 48px;

    --fs-3xl: 72px;



    /* ========================= */
    /* Font Weight */
    /* ========================= */


    --fw-regular: 400;

    --fw-medium: 500;

    --fw-semibold: 600;

    --fw-bold: 700;

    --fw-black: 900;



    /* ========================= */
    /* Spacing */
    /* ========================= */


    --space-xs: 8px;

    --space-sm: 16px;

    --space-md: 32px;

    --space-lg: 64px;

    --space-xl: 96px;

    --space-2xl: 140px;



    /* ========================= */
    /* Border Radius */
    /* ========================= */


    --radius-sm: 8px;

    --radius-md: 16px;

    --radius-lg: 24px;

    --radius-xl: 40px;



    /* ========================= */
    /* Shadows */
    /* ========================= */


    --shadow-soft:
    0 20px 50px rgba(0,0,0,0.3);



    --shadow-glow:
    0 0 40px rgba(139,92,246,0.35);



    /* ========================= */
    /* Transition */
    /* ========================= */


    --transition-fast: 0.3s ease;


    --transition-medium: 0.6s ease;


    --transition-slow: 1s ease;



    /* ========================= */
    /* Container */
    /* ========================= */


    --container-width: 1280px;


}